.profileWrap {
  overflow: hidden;
  margin-top: 20px;
}
.profileWrap .img {
  float:left;
  width: 180px;
  height: 180px;
  margin-right:30px;
  background:url('https://www2.deloitte.com/content/dam/Deloitte/sg/Images/promo_images/sg-careers-students-d.cisions-linkedintip-2-profile-pic.jpg/_jcr_content/renditions/cq5dam.web.231.231.desktop.jpeg') no-repeat;
  background-size: 100%;
}
.profileWrap .img img {
  width: 180px;
  height: 180px;
}
.profileWrap dl.info {
  float:left;
  overflow: hidden;
}
.profileWrap dl.info dt {
  float: left;
  width: 80px;
  height: 30px;
}
.profileWrap dl.info dd {
  margin-left: 80px;
  height: 30px;
}
#nameInput{
  font-size: 18px;
  border: 1px solid #dadada;
  border-radius: 22px;
  padding: 5px 12px;
  width: 236px;
  height: 30px;
  text-align: center;
  color: #9C27B0;
  outline: none
}